.slick-slide {
  width: 130px !important ;
  height: 100px;
}
.slick-list {
  overflow: visible !important;
  width: 100% !important;
  display: block !important;
}
.slick-slider {
  width: 100vw !important;
  display: block !important;
}
.slick-track {
  min-width: 100vw !important;
}
.latest {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}
.swiper-button-prev{
  left: 5%!important;
  width: 40px !important;
  height: 40px !important;
}
.swiper-button-next{
  width: 40px !important;
  height: 40px !important;
}

.swiper-button-prev:after {
  font-size: 25px !important;
  background: gray;
  border-radius: 50%;
  line-height: 40px !important;
  width: 40px !important;
  height: 40px !important;
  padding-left: 10px;
  color: aliceblue;
}
.swiper-button-next:after {
  font-size: 25px !important;
  background: gray;
  border-radius: 50%;
  line-height: 40px !important;
  width: 40px !important;
  height: 40px !important;
  padding-left: 15px;
  color: aliceblue;
}
svg.dd-glyph-svg {
  color: #68cc45;
  fill: #68cc45;
}